/* app css stylesheet */
body {
  padding-top: 70px;
}

* {
  text-align: center;
}

floatR {
  float: right;
}

floatL {
  float: left;
}

floatR::after,
floatL::after {
  content: '';
  clear: both;
}

#about img {
  width: 30%;
}

#store {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

#store > .book > img {
  margin: 0 auto;
  text-align: center;
}

.book {
  background-color: lightgrey;
  padding: 10px;
  margin: 5px;
  width: 30%;
  height: 500px;
}

.info {
  position: relative;
  bottom: 0;
}

.book > .btn {
  width: 100%;
  /*margin: 0 10px;*/
}
